.landingPage {
  min-height: 100vh;
  margin: auto;
  text-align: center;
  background-image: url("../resources/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landingPage button {
  margin: auto;
  max-width: 150px;
}
.landingPage button:hover {
  max-width: 175px;
}
