.landingPage {
  height: 100%;
  width: 100%;
  padding-top: 250px;
  margin: auto;
  text-align: center;
}

.landingPage button {
  width: 100%;
  margin: auto;
  max-width: 150px;
}
.landingPage button:hover {
  max-width: 175px;
}
