.loginForm {
  text-align: center;
}

.loginForm p {
  color: #bf1650;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

.loginForm p::before {
  display: inline;
  content: "⚠ ";
}

.loginForm label {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
.input {
  margin: 0 auto;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 250px;
  border-radius: 2px;
  border: 1px solid black;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

.button-container {
  padding-bottom: 15px;
}
